#SPDX-License-Identifier: MIT-0
---
# tasks file for prepare_db

- name: Create user for wikijs on db1 (master) 
  become: true
  become_user: postgres
  postgresql_user: 
    name:  '{{ wiki_db_user }}' 
    password: '{{ wiki_usr_pass }}' 
    role_attr_flags: "CREATEDB,LOGIN"
  when: (ansible_hostname == "db1")

- name: Create wiki database
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: wiki 
    owner: '{{ wiki_db_user }}'
    encoding: UTF8
    lc_collate: en_US.UTF-8 # Optional: Collation settings
    lc_ctype: en_US.UTF-8 # Optional: Ctype settings
    state: present # Ensure the database exists
  when: (ansible_hostname == "db1")  

- name: Create PostgreSQL user fot postgres_exporter
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ postgres_exporter_user }}"
    state: present
  
- name: Grant role pg_monitor to postgres_exporter user
  become: true
  become_user: postgres
  community.postgresql.postgresql_membership:
    group: pg_monitor
    target_roles: "{{ postgres_exporter_user }}"
    state: present

- name: Install Postgres Exporter for PostgreSQL Master
  hosts: db2
  collections:
          - prometheus.prometheus
  roles:
          - postgres_exporter    