#SPDX-License-Identifier: MIT-0
---
# tasks file for loadbalancer_angie

- name: Copy nginx.conf 
  template: 
    src: nginx.conf.j2 
    dest: /etc/nginx/nginx.conf 
    owner: root
    group: root 
    mode: '0644' 
   
- name: Restart Nginx service 
  ansible.builtin.service:
      name: nginx
      state: restarted
      enabled: yes