#SPDX-License-Identifier: MIT-0
---
# tasks file for grafana_cfg

# - name: Copy datasources file
#   become: true
#   copy:
#     src: datasources.yaml
#     dest: /etc/grafana/provisioning/datasources/datasources.yaml   
#     owner: grafana
#     group: root 
#     mode: '0644'

# - name: Import Grafana dashboard for Node Exporter
#   community.grafana.grafana_dashboard:
#     grafana_url: http://192.168.108.17:3000
#     grafana_user: "admin"
#     grafana_password: "grafana"
#     overwrite: true
#     path: https://grafana.com/api/dashboards/1860/revisions/42/download
#     state: present  

# - name: Import Grafana dashboard for NGINX exporter
#   community.grafana.grafana_dashboard:
#     grafana_url: http://192.168.108.17:3000
#     grafana_user: "admin"
#     grafana_password: "grafana"
#     overwrite: true
#     path: https://grafana.com/api/dashboards/12708/revisions/1/download
#     state: present 

# - name: Import Grafana dashboard for PostgreSQL Exporter
#   community.grafana.grafana_dashboard:
#     grafana_url: http://192.168.108.17:3000
#     grafana_user: "admin"
#     grafana_password: "grafana"
#     overwrite: true
#     path: https://grafana.com/api/dashboards/9628/revisions/8/download
#     state: present         

# - name: Import Grafana dashboard for NGINX Service Mesh
#   community.grafana.grafana_dashboard:
#     grafana_url: http://192.168.108.17:3000
#     grafana_user: "admin"
#     grafana_password: "grafana"
#     overwrite: true
#     path: https://grafana.com/api/dashboards/14752/revisions/1/download
#     state: present  

- name: Import Grafana dashboard for NGINX Service Mesh
  community.grafana.grafana_dashboard:
    grafana_url: http://192.168.108.17:3000
    grafana_user: "admin"
    grafana_password: "grafana"
    overwrite: true
    dashboard_url: "C:/Users/User/Downloads/dashboards/20478_rev1.json"
    state: present      

- name: Restart the Grafana server
  become: true 
  ansible.builtin.service:
    name: grafana-server
    state: restarted


    