 # Prometheus infrastructure setup 

- name: Install Prometheus for Monitoring Server
  hosts: prometheus
  collections:
          - prometheus.prometheus
  roles:
          - prometheus   

- name: Manage config for Prometheus 
  hosts: prometheus
  become: yes
  roles:
         - prometheus_cfg          

- name: Install Node Exporter on host
  hosts: prometheus
  collections:
          - prometheus.prometheus
  roles:
          - node_exporter

# - name: Install Nginx Exporter for LoadBalancer
#   hosts: loadbalancer
#   collections:
#           - prometheus.prometheus
#   roles:
#           - nginx_exporter


# - name: Install Postgres Exporter for PostgreSQL Master
#   hosts: db2
#   collections:
#           - prometheus.prometheus
#   roles:
#           - postgres_exporter




